/* цвет текста #757575;*/
/* цвет активной ссылки #2196F3;*/
/* текст заголовков #212121; */
/* цвет хэдера #FFFFFF;*/
/* цвет секции с сотрудниками #F5F4FA;*/
/* цвет хэро секции и футера #2F303A;*/
/* цвет секций #F5F5F5;  */
/* цвет логотипа #000000; */

:root{
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --filter-text: #212121;
    --accent-color:#2196F3; 
    --accent-background:#2F303A;
    --color-secondary-section: #F5F4FA;
    --header-color:#ffffff;
    --logo-text: #000000;
}
*,
::after,
::before{
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
    
}
.conteiner{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.list{
    list-style:none;
    margin: 0px;
    padding: 0px;

}
.link {
    color: #212121;
    text-decoration: none;
}

/* хєдер*/
.header__wrap{
    display: flex;
    align-items: baseline;
    padding-top: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}
.logo-link{
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-text);
}
.logo-link .accent{
    color:var(--accent-color);
}
.navigation{
    margin-left: 93px;
}
.navigation__list,
.contact-list{
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
}
.header li:not(:last-child){
    margin-right: 50px;
}
.contact-list{
    margin-left: auto;
}
.current{
    color: var(--accent-color);
}
.navigation__item{
    position: relative;
    padding-bottom: 32px;
}

.navigation__item .current::after{
    content: ' ';
    width:100%;
    height: 4px;
    background-color: var(--accent-color);
    position:absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.address-link:hover,
.address-link:focus,
.navigation__item .link:hover,
.navigation__item .link:focus, 
.contact-link:hover,
.contact-link:focus
 {
    color:var(--accent-color);
    fill:var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    fill:var(--primary-text-color);
}
.contact-icon{
    margin-right: 10px;
}

/*основной контент*/
.hero{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(./images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    background-color: var(--accent-background);
    max-width: 1600px;
    text-align: center;
}
.hero .conteiner{
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero__caption{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;
    margin-bottom: 30px;
}
.hero__button{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:#ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 581px;
    width: 528px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/* .modal__form-caption{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

} */
.form-fields-wrap{
    text-align: left;
    margin-top: 12px;
}
.form-field{
    position: relative;
}
.form-field__label{
    display:block;
    
}
.form-field__label:not(:last-child){
    margin-bottom: 10px;
}
.form-field__label span:not(:last-child){  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.modal__form .form-field__entry{
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    padding-top: 11px;
    padding-right: 42px;
    padding-bottom: 11px;
    padding-left: 42px;
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__entry:focus-within{
    border: 1px solid var(--accent-color);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__entry:focus-within + .form-field__icon{
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2196F3;
}
.comment-text{
    height: 120px;
}
.form-field__icon{
    position: absolute;
    top: 35px;

    left:12px;
}
.modal__close-button{
    position: absolute;
    top:8px;
    right: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__close-button:hover .close-icon{
    fill:var(--accent-color);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-text::placeholder{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

}
.checkbox__text-agreement{ 
    display: inline-block; 
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
color: #757575;
}
.checkbox__icon{
    display: inline-block;
    width: 16px;
    height:15px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon{
    background-color: var(--accent-color);
    background-image: url(./images/icon_check.svg);
    
    background-repeat: no-repeat;
    background-position: center;
    border: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox > * {
    vertical-align:middle;
}
.checkbox__link-agreement{
text-decoration-line: underline;
color: #2196F3;
}
.modal__complite-button{
    margin-top: 30px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    align-items: center;
    text-align: center;
   
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    

}
.visually-hidden,
.checkbox__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.benefits__list{
    padding-top: 94px;
    display: flex;
    justify-content: space-between;
}
.benefits__list > li:not(:last-child){
    margin-right: 30px;
}
.benefits__caption{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14px;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.function__caption, .team__caption, .clients__title{
    text-align: center;
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color:var(--title-text-color);
}
.function__list {
    margin-top: 50px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
}
.function__list img{
    display: block;
}
.function__list > li{
    width: calc(100%/3,3333);
}
.function__item{
    position: relative;
}
.function__label{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 48, 58, 0.8);
   
}
.function__text{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;

}
.team{
    background-color: var(--color-secondary-section);
}
.team__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 94px;
}
.team__person{
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team__caption-list{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}
.team__text-list{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.19;
}
.icon-socials{
    display: flex;
    margin-top: 16px;
    justify-content:center;
    align-items: center;
    
}
.icon-socials__link{
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}
.icon-social{
    display: block;
}
.icon-socials__link{
    background-color: #ffffff;
    fill: #AFB1B8;
}
.icon-socials__link:hover,
.icon-socials__link:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-socials li:not(:last-child){
    margin-right: 10px;
}
.icon-socials__link.connect{
    background: rgba(255, 255, 255, 0.1);
    fill: #ffffff;;
}
.icon-socials__link.connect:hover,
.icon-socials__link.connect:focus{
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*клиенты*/
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:#AFB1B8;

}
.clients-link:hover,
.clients-link:focus{
    fill:var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list li:not(:last-child){
    margin-right: 30px;
}
/*футер*/
.footer{
    background-color: var(--accent-background);
}
.footer .conteiner{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
}
.footer .link{
    font-style: normal;
}
.footer .logo-link,
.newsletter-text
{
    margin-bottom: 20px;
}
.footer .contact-link{
    margin-top: 9px;
}
.address-link,
footer .change-color{
    color:#ffffff;
}
.connect-links{
    margin-left: 70px;
    margin-right: 93px;
}
.connect-text,
.newsletter-text{
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}
.newsletter-input{
    background: inherit;
    padding: 15px 15px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}
.newsletter .newsletter-input::placeholder{
    
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.newsletter-input:focus-within{
    border: 1px solid #ffffff;
    border-radius: 4px;
    color:#FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.newsletter-button{
    cursor: pointer;
    margin-left: 12px;
    padding-top:10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 28px;
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none ;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.newsletter-icon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    
}
/*портфолио*/
.portfolio__filter-list{
    display: flex;
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
.portfolio__filter-list > li:not(:last-child){
    margin-right: 8px;
}
.portfolio-filter-button{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:var(--title-text-color);
    cursor: pointer;
    
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus{
    background-color: var(--accent-color);
    color:#ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-example-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;
    
}
.content-example-list > li:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}

.content-example-item img{
    display: block;
}
.content-example-list > li{
    width: calc(100%/3,3333);
}
.card-info{
    border: solid 1px #EEEEEE;
    border-top: none;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.content-example-item:hover,
.content-example-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-caption{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.example-text{
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color)
}
.content-thumb{
    overflow: hidden;
    position: relative;
}
.opposite-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;

    padding: 63px 24px;
}
.content-example-item:hover .opposite-text,
.content-example-item:focus-within .opposite-text{
    transform: translateY(0);
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
