.clients__title{
    text-align: center;
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color:#212121;
}
.clients__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}
.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:#AFB1B8;

}
.clients__link:hover,
.clients__link:focus{
    fill:$accent-color;
    border: 1px solid $accent-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child){
    margin-right: 30px;
}