.contact-list{
    margin-left: auto;
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (min-width:481px) and (max-width:768px){
       flex-direction: column;
       margin-top: -10px;
       }
    }

.contact-link:hover,
.contact-link:focus
 {
    color:$accent-color;
    fill:$accent-color;
    transition: $transition-option;
 }
 .contact-item{
    @media screen and (min-width:481px) and (max-width:768px){
           margin-top: 10px;
        }
        
    }
 
 .contact-link{
    @extend %contact-link;
    @media screen and (min-width:481px) and (max-width:768px){
        
        
    }
}
// .contact-item:not(:last-child){
//     margin-right: 50px;
// }
.contact-icon{
    margin-right: 10px;
}
