.navigation{
    margin-left: 93px;
    display: flex;
    @media screen and (min-width:481px) and (max-width:768px) {
    margin-left:auto;
}
}

.navigation__list{
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (min-width:481px) and (max-width:768px) {
        justify-content: space-between;
        
}
.navigation__item:not(:last-child){
    margin-right: 50px;
    @media screen and (min-width:481px) and (max-width:768px) {
      
      }
}
.navigation__item{
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    @media screen and (min-width:481px) and (max-width:768px) {
        justify-content: space-between;
    }
    
}
    .link:focus,
    .link:hover{
        color:$accent-color;
        fill:$accent-color;
        transition: $transition-option;
    }
}
.current{
    color: $accent-color;

    &:after{
        content: ' ';
    width:100%;
    height: 4px;
    background-color: $accent-color;
    position:absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    }
}

