.contact-list{
    margin-left: auto;
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus
 {
    color:$accent-color;
    fill:$accent-color;
    transition: $transition-option;
 }
 .contact-link{
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    fill:   $secondary-text-color;
}
.contact-item:not(:last-child){
    margin-right: 50px;
}
.contact-icon{
    margin-right: 10px;
}
