.logo-link{
    display: block;
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $logo-text-color;
}

.accent{
    color: $accent-color;
}
