.header__wrap{
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    align-items: center;
        @media screen and (max-width:767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        .menu-wrap{
            display: none;
        }
        }
        @media screen and (min-width:768px) and (max-width:1200px){
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
        .menu-wrap{
            display: flex;
         }
     } 
}
.menu-wrap{
    display: flex;
    align-items: center;
    
    @media screen and (min-width:768px) and (max-width:1199px){
       justify-content: space-between;
       width: 100%;
     }
}



