%link{
    color: #212121;
    text-decoration: none;
}

%list{
    list-style:none;
    margin: 0px;
    padding: 0px;
}
%conteiner{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
%h1,%h2,%h3,%p{
    margin: 0px;
    padding: 0px;
}

%visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
%button{
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
}
